/* 
background-color: define el color de fondo del elemento
background-image: define la imagen de fondo del elemento
background-size: define el tamaño de la imagen de fondo, primer valor x, segundo valor y 
    cover: cambia el tamaño de la imagen de fondo para  asegurarse de que permanezca completamente visible
    contain: cambia el tamaño de la imagen de fondo para asegurarse de que el elemento esté completamente cubierto
background-reapeat: define cómo se repite a imagen de fondo en el elemento
background-position: define la posición de la imagen de fondo, primer valor x, segundo valor t, si no se especifica un segundo valor éste será center a parte de valores numéricos podemos indicar el posicionamiento con las palabras: center, top, bottom, left, right
background-clip: define cuánto debe extenderse el fondo dentro del elemento, el valor por defecto es border-box
background-origin: define el origen de la imagen de fondo, el valor por defecto es padding-box
background-attachment: define cómo se comportará la imagen de fondo al desplazarse por la página
*/

.box{
    width: 300px;
    height: 300px;
    margin: 2rem auto;
    border: thick dashed red;
}

.bg-color{
    background-color: rgb(135, 155, 222);
}

.bg-image{
    background-image: url('../assets/puesta-sol.jpg');
    
}

.bg-size{
    background-image: url('../assets/puesta-sol.jpg');
    background-size: 300px 200px;
    background-size: 300px;
    background-size: cover;
    background-size: contain;
}

.bg-repeat{
    background-image: url('../assets/puesta-sol.jpg');
    background-size: 100px;
    background-repeat: repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: no-repeat;
}

.bg-position{
    background-color: black;
    background-image: url('../assets/puesta-sol.jpg');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 10px 20px;
    background-position: 1rem 2rem;
    background-position: 10% 20%;
    background-position: 10%;
    background-position: top center;
    background-position: top right;
    background-position: top left;
    background-position: top;
    background-position: bottom center;
    background-position: bottom right;
    background-position: bottom;
}


/* Propiedad orientada hacia el fondo */
.bg-clip{
    background-color: rgb(0, 37, 138);
    background-image: url('../assets/puesta-sol.jpg');
    background-size: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-clip: padding-box;
    background-clip: content-box;
    padding: 1rem;
}

/* Propiedad que define la posicion donde inicia la imagen de fondo  */
.bg-origin{
    background-color: rgb(0, 37, 138);
    background-image: url('../assets/puesta-sol.jpg');
    background-size: 200px;
    background-repeat: no-repeat;
    padding: 1rem;
    background-size: cover;
    background-origin: padding-box;
    background-origin: border-box;
    background-origin: content-box;
}

.bg-attachment{
    background-color: rgb(0, 37, 138);
    background-image: url('../assets/puesta-sol.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 50vh;
    background-attachment: scroll; /*default*/
    background-attachment: fixed;
    /*background resetea las demas propiedades que posee esta propiedad*/
    /* background: red; */

}

.bg-multiple{
    width: 50%;
    height: 30vh;
    background-image: 
    url(../assets/favicon.png),
    url(../assets/puesta-sol.jpg); 
    background-repeat: repeat-x, no-repeat;
    background-size: 10%, cover;
}

.bg-art{
    width: 1000px;
    height: 700px;
    background: 
    url(../assets/arbol.png) no-repeat center bottom,
    url(../assets/aves.png) no-repeat center bottom,
    url(../assets/cielo.png) no-repeat center top;
}