.list{
    list-style-type: disc;/*default*/
    list-style-type: square;
    list-style-type: circle;
    list-style-type: lower-roman;
    list-style-type: upper-roman;
    list-style-type: decimal-leading-zero;
    list-style-type: none;
    list-style-type: lower-greek;
    list-style-image: url("../assets/favicon.png");
    list-style-image: url("../assets/cielo.png");
    list-style-image: none;
}

.list li{
    list-style-type: none;
}

.list li::before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url(../assets/favicon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.list-2 li{
    background-color: coral;
    list-style-position: outside;
    list-style-position: inside;
}

.list-3 li{
    background-color: cornsilk;
    list-style: lower-latin url('../assets/cielo.png') outside;
    list-style: lower-latin  outside;
}

.text-column-4{
    list-style-position: inside;
    column-count: 4;
    /* Espacio de separaci칩n */
    column-gap: 1rem;
    /*Linea / regla*/
    column-rule: thin dotted red;
    /*Tama침o minimo de la anchura de las columnas*/
    column-width: 100px;
}

.text-column-3{
    column-count: 3;
    /* Espacio de separaci칩n */
    column-gap: 1rem;
    /*Linea / regla*/
    column-rule: thin dotted gray;
    /*Tama침o minimo de la anchura de las columnas*/
    column-width: 100px;
}

